.display {
  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove any default margin */
  font-family: "Poppins", sans-serif; /* Apply the Poppins font */
}
body {
  background-image: url("frog-background-with-empty-space-text_953680-4816.jpg");
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Avoids repeating the image */
}
.dropdown-container {
  margin-top: 20px; /* Add space above the dropdown */
  padding: 10px; /* Add some padding */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Light background for visibility */
  border-radius: 5px; /* Slightly rounded corners */
}
